<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="styles/demo.css" />
</head>

<body>
	<div id="app">

		<div>

			<br><br>
			{{message}}
			<br>
			<input v-model="message">
			<br>

			<button v-on:click="reverseMessage">逆转消息</button>

			<br><br>

			<span v-bind:title="message">
				v-bind 鼠标悬停几秒钟查看此处动态绑定的提示信息！
			</span>

			<br><br>

			<p v-if="seen">v-if 现在你看到我了</p>

			<br><br>

			<ol>
				<li v-for="todo in todos">
					{{ todo.text }}
				</li>
			</ol>

		</div>

		<fieldset>
			<legend>
				Create New Person
			</legend>
			<div class="form-group">
				<label>Name:</label>
				<input type="text" v-model="newPerson.name" />
			</div>
			<div class="form-group">
				<label>Age:</label>
				<input type="text" v-model="newPerson.age" />
			</div>
			<div class="form-group">
				<label>Sex:</label>
				<select v-model="newPerson.sex">
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</div>
			<div class="form-group">
				<label></label>
				<button @click="createPerson">Create</button>
			</div>
		</fieldset>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Sex</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="person in people">
					<td>{{ person.name }}</td>
					<td>{{ person.age }}</td>
					<td>{{ person.sex }}</td>
					<td :class="'text-center'">
						<button @click="deletePerson($index)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

<script src="js/vue.js"></script>

<!-- 指定版本 -->
<!--script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script-->

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<!-- script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script-->

<!-- 生产环境版本，优化了尺寸和速度 -->
<!-- script src="https://cdn.jsdelivr.net/npm/vue"></script-->

<script>
	var vm = new Vue({
		el: '#app',
		data: {
			message: '页面加载于 ' + new Date().toLocaleString(),
			seen: true,
			todos: [{
					text: '学习 JavaScript'
				},
				{
					text: '学习 Vue'
				},
				{
					text: '整个牛项目'
				}
			],

			newPerson: {
				name: '',
				age: 0,
				sex: 'Male'
			},
			people: [{
				name: 'Jack',
				age: 30,
				sex: 'Male'
			}, {
				name: 'Bill',
				age: 26,
				sex: 'Male'
			}, {
				name: 'Tracy',
				age: 22,
				sex: 'Female'
			}, {
				name: 'Chris',
				age: 36,
				sex: 'Male'
			}]
		},
		methods: {
			createPerson: function () {
				this.people.push(this.newPerson);
				// 添加完newPerson对象后，重置newPerson对象
				this.newPerson = {
					name: '',
					age: 0,
					sex: 'Male'
				}
			},
			deletePerson: function (index) {
				// 删一个数组元素
				this.people.splice(index, 1);
			},
			reverseMessage: function () {
				this.message = this.message.split('').reverse().join('')
			}
		}
	})
</script>

</html>